{{#isPathParam}}{{^disableApiModelAnnotations}}@ApiParam(value = "{{{description}}}"{{#required}},required=true{{/required}}{{#allowableValues}}, {{> allowableValues }}{{/allowableValues}}{{#defaultValue}}, defaultValue="{{{defaultValue}}}"{{/defaultValue}}) {{/disableApiModelAnnotations}}@PathParam("{{baseName}}") {{{dataType}}} {{paramName}}{{/isPathParam}}
